In [2]:
import pandas as pd
import numpy as np
import random
import csv
raw_data = pd.read_csv('train-v2.tsv', sep="\t", header=None, quoting = csv.QUOTE_NONE)
raw_data.columns = ['label', 'tweet']
raw_data = raw_data[pd.notnull(raw_data['tweet'])]
raw_data.head()

   label                                              tweet
0      0  @USER @USER a sicrhau bod mwy o arian poced 'd...
1      1  Parti Dolig da gyda tim swyddfa canolog @USER ...
2      0               @USER yeaah ma fe yn wir. ( oh well.
3      1               @USER hahaha idk. 3am oedd y bws ti?
4      0                      @USER dwim yn gal llun ohoni?

In [3]:
print(raw_data.shape)
raw_data.head(100)

(80000, 2)

    label                                              tweet
0       0  @USER @USER a sicrhau bod mwy o arian poced 'd...
1       1  Parti Dolig da gyda tim swyddfa canolog @USER ...
2       0               @USER yeaah ma fe yn wir. ( oh well.
3       1               @USER hahaha idk. 3am oedd y bws ti?
4       0                      @USER dwim yn gal llun ohoni?
..    ...                                                ...
95      1  Mae ein ceidwad Jim wedi cymryd lluniau hyfryd...
96      0  Amserlen @USER a'r plant heddiw:@USER (sesiwn ...
97      1          @USER dim problem. Diolch am y gusan Aled
98      1  @USER Ffab. Gweld ti prawn Dydd Sul y 20th de ...
99      1  @USER dere flatout! Fi wedi coolo lawr lot yn ...

[100 rows x 2 columns]

In [4]:
# Appears to be an almost perfectly balanced dataset.  Our "priors" are 50/50
print(raw_data[raw_data['label']==0].shape[0])
print(raw_data[raw_data['label']==1].shape[0])

39981
40019

In [5]:
# Hold back training data
training_data = raw_data.sample(frac=0.8)
testing_data = raw_data.drop(training_data.index)

In [6]:
print(training_data.shape)
print(testing_data.shape)

(64000, 2)
(16000, 2)

In [7]:
# Separate training data into positive and negative datasets for simplicity
training_data_pos = training_data[training_data['label']==1]
training_data_neg = training_data[training_data['label']==0]

In [8]:
print(training_data_neg.shape)
print(training_data_pos.shape)

(32010, 2)
(31990, 2)

In [9]:
training_data_neg.head

<bound method NDFrame.head of        label                                              tweet
3654       0  @USER ffaaaaac, sa waeth sa ti'n Mumbai na Gae...
54772      0          @USER ie Capel Mydroilyn! Hollol gutted!!
78186      0  @USER onin crio borama cys oddon brifo gymaint...
29490      0  @USER weeel dwin gwithio bob nos o nos fercher...
70375      0  Newyddion trist iawn am farwolaeth Rowena Kincaid
...      ...                                                ...
65093      0  @USER O.N. sori am beidio dod neithiwr - gum i...
10562      0  @USER paid a trio gwadu'r peth. "O na fy chino...
77460      0  ffiseg mor anodd pam nesi gymud ooo #bringondaU ðŸ‘Ž
71776      0                      Llawn annwyd heddiw . #bleugh
40342      0  @USER na, dwi am ffonior hen leri wan i nol fi ((

[32010 rows x 2 columns]>

In [10]:
training_data_pos.head

<bound method NDFrame.head of        label                                              tweet
38925      1  @USER oooh gobitho bydd e;n gallu trefnu rhywb...
35686      1  @USER ia heddiw , dwi angan gwbod numbers so t...
50069      1  @USER oooh man! I thought odd da fi fe! Falle ...
43215      1  @USER haha snap, excuse ydi mai'n ddolig! doli...
9845       1  Lyfli chat da @USER ar y ffon! Weve doneee it ...
...      ...                                                ...
30309      1      YES!!!!! Cymru di curo 27-13 Proud o nhw xxxx
31448      1  @USER Eitha genfigenus mai rhan o job ti yw gw...
19207      1  Waw! Mae tywydd yn braf heddiw! Diolch am ein ...
49636      1  @USER @USER Waw.... Interflora!!! Da wan @USER...
53718      1  @USER ma "J" yn y wyddor ma nhw'n dysgu yn ysg...

[31990 rows x 2 columns]>

In [11]:
# We need to calculate/generate the following:
# Number of unique words in positive tweets
# Number of unique words in negative tweets

# We could make a dictionary of unique words as keys, values as number of times the word appears

In [12]:
uniquePositiveWords={}
uniqueNegativeWords={}

In [13]:
for tweet in range(len(training_data_pos)):
    currentTweet=training_data_pos.iloc[tweet]['tweet'].split()
    for word in currentTweet:
        if word in uniquePositiveWords:
            uniquePositiveWords[word]+=1
        else:
            uniquePositiveWords[word]=1
for tweet in range(len(training_data_neg)):
    currentTweet=training_data_neg.iloc[tweet]['tweet'].split()
    for word in currentTweet:
        if word in uniqueNegativeWords:
            uniqueNegativeWords[word]+=1
        else:
            uniqueNegativeWords[word]=1

In [14]:
numUniquePositiveWords=len(uniquePositiveWords)
numUniqueNegativeWords=len(uniqueNegativeWords)
print(numUniquePositiveWords)
print(numUniqueNegativeWords)

69400
67033