In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
# Load data and inspection

df = pd.read_csv(r"D:\SLU\AI MSc\Fall 22\NLP\train-v2.tsv", sep="\t", header=None, quoting = csv.QUOTE_NONE)
df.head()

   0                                                  1
0  0  @USER @USER a sicrhau bod mwy o arian poced 'd...
1  1  Parti Dolig da gyda tim swyddfa canolog @USER ...
2  0               @USER yeaah ma fe yn wir. ( oh well.
3  1               @USER hahaha idk. 3am oedd y bws ti?
4  0                      @USER dwim yn gal llun ohoni?

In [3]:
# Rename columns

df.rename(columns={0:"Class", 1:"Document"}, inplace=True)
df.head()

   Class                                           Document
0      0  @USER @USER a sicrhau bod mwy o arian poced 'd...
1      1  Parti Dolig da gyda tim swyddfa canolog @USER ...
2      0               @USER yeaah ma fe yn wir. ( oh well.
3      1               @USER hahaha idk. 3am oedd y bws ti?
4      0                      @USER dwim yn gal llun ohoni?

In [4]:
# Add columns for having sad or happy emoji

df["Sad_emoji"] = None
df["Happy_emoji"] = None
df.head()

,Class,Document,Sad_emoji,Happy_emoji
0,0,@USER @USER a sicrhau bod mwy o arian poced 'd...,None,None
1,1,Parti Dolig da gyda tim swyddfa canolog @USER ...,None,None
2,0,@USER yeaah ma fe yn wir. ( oh well.,None,None
3,1,@USER hahaha idk. 3am oedd y bws ti?,None,None
4,0,@USER dwim yn gal llun ohoni?,None,None

In [5]:
# Defining happy and sad emojis lists

happy_emojis = ["ğŸ˜€", "ğŸ˜ƒ", "ğŸ˜„", "ğŸ˜", "ğŸ˜†", "ğŸ˜…", "ğŸ¤£", "ğŸ˜‚", "ğŸ™‚", "ğŸ˜‰", "ğŸ˜Š", "ğŸ˜‡", "ğŸ¥°", "ğŸ˜", "ğŸ¤©", "ğŸ˜˜", "ğŸ˜—", "â˜º", "ğŸ˜š", "ğŸ˜™", "ğŸ˜‹", "ğŸ˜›", "ğŸ˜œ", 
"ğŸ¤ª", "ğŸ˜", "ğŸ¤—", "ğŸ¤ ", "ğŸ¥³", "ğŸ˜", "ğŸ˜º", "ğŸ˜¸", "ğŸ˜¹", "ğŸ˜»", "â™¥", "â¤", "ğŸ’•", "ğŸ’–", "ğŸ’™", "ğŸ’›", "ğŸ§¡", "ğŸ’œ", "ğŸ’", "ğŸ‘Œ", "ğŸ¤Ÿ", "ğŸ‘Š", 
"ğŸ‘", "ğŸ¤", "ğŸ™", "ğŸ˜¬", "ğŸ¤¤", "ğŸ’‹", "â£", "âœŒ", "ğŸ‘"]
sad_emojis = ["ğŸ˜", "ğŸ˜¶", "ğŸ˜‘", "ğŸ˜’", "ğŸ˜”", "ğŸ¤¢", "ğŸ¤®", "ğŸ˜•", "ğŸ˜–", "ğŸ¥º", "ğŸ˜«", "ğŸ˜", "ğŸ˜­", "ğŸ˜Ÿ", "ğŸ˜“", "ğŸ˜©", "ğŸ˜¢", "ğŸ™", "ğŸ˜¥", 
"ğŸ˜£", "â˜¹", "ğŸ˜°", "ğŸ˜¤", "ğŸ˜¡", "ğŸ¤¬", "ğŸ˜ ", "ğŸ’©", "ğŸ˜¿", "ğŸ˜¾", "ğŸ–¤", "ğŸ’”", "ğŸ–•", "ğŸ‘", "ğŸ¤¦"]

In [6]:
# Defining two classes of "Happy" and "Sad" by emojis

Classes = {"Happy": happy_emojis, "Sad": sad_emojis}

In [9]:
# Finding all "Happy" and "Sad" emojis in documents

for i in range(len(df)):
    num_sad, num_happy = 0, 0   # Setting emoji counters to 0
    for h in range(len(Classes['Happy'])):  # check how many "Happy" emojis is in document
        if Classes['Happy'][h] in df.loc[i, 'Document']:
            num_happy += 1
    for s in range(len(Classes['Sad'])):    # # check how many "Sad" emojis is in document
        if Classes['Sad'][s] in df.loc[i, 'Document']:
            num_sad += 1
    df.loc[i, 'Happy_emoji'] = num_happy
    df.loc[i, 'Sad_emoji'] = num_sad
df.head()

In [17]:
df_clean = df.drop(df[(df.Sad_emoji == 0) & (df.Happy_emoji == 0)].index)
df_clean

,Class,Document,Sad_emoji,Happy_emoji
55,0,Angen byclo fyny a sortio'n hyn allan. Failure ğŸ‘,1,0
64,0,@USER dwi'n shwr bona'm six nations bl nesa ac...,0,1
120,0,Aros am yr unig ğŸšŒ y dydd a'r bus yn pasio heib...,0,1
134,1,@USER Os ydy @USER eisiau dod a Mike Phillips ...,0,1
141,0,"@USER dwi ddim ddo, gwir dio babee ğŸ˜ ğŸ˜¶â¤ï¸ğŸ˜˜",2,2
...,...,...,...,...
79892,0,â¤ @USER ğŸ¤ğŸ¶ voice of an ğŸ˜‡. ğŸ‘ğŸ‘. Lews weth ei fod...,0,3
79907,1,Blwyddyn newydd dda! Happy new year! Bliadhna ...,0,1
79983,1,"@USER diolch yn fawr gan pawb yn y tÃ®m Eryl, p...",0,1
79994,1,Newyddion ffug ğŸ˜‰ #yagym {URL},0,1
79998,1,"@USER eidiaaaal, awni dydd llun nesa ia? Y air...",0,1

In [20]:
df_clean[(df_clean['Happy_emoji'] > df_clean['Sad_emoji']) & (df_clean['Sad_emoji'] > 0)]

,Class,Document,Sad_emoji,Happy_emoji
6800,1,@USER moody pants? Comeback a hanner whareteg ...,1,3
23444,0,â€œ@USER: Haven't seen one of my best friends in...,1,3
66905,0,@USER @USER app hyn sy da lods o cartoon thing...,1,2

In [ ]:
# Splitting data to train and test
training_data = df.sample(frac=0.8, random_state=42)
testing_data = df.drop(training_data.index)

In [19]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df , test_size=10000, random_state=42)
train, val = train_test_split(train, test_size=10000, random_state=42)

29982

10000

20
20

40